.content{
    border:1px solid blue;
    font-weight: bold;
    width: 375px;
    height: 667px;
    background-image:url('../遊戲畫面素材/背景.png');
}
.title{
    width: 375px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid red;
    position: absolute;
    top: 50px;
}
.box{
    width: 105px;
    margin: 5px;
    border: 1px solid green;
    display:inline-block;
    vertical-algin:top;
}
.table{
    position: absolute;
    top: 230px;
    left: 20px;
}
label{
    font-size: 20px;
}
td{
    width: 112px;
    height: 106px;
    border: 1px solid orangered;
}
button{
    width: 80px;
    font-size: 15px;
}